.vg-news {
	@media #{$xl-device} {
		padding-bottom: 240px;
	}

	&-item {
		position: relative;
		background-color: $bg;
		border-radius: 14px;
		overflow: hidden;
		z-index: 1;
		transition: $transition;

		&:hover {
			box-shadow: $box-shadow;

			.image-area {
				&:after, &:before {
					width: 100%;
					height: 100%;
				}
			}
		}


		&:after {
			content: '\f061';
			font-family: $font-awesome;
			font-size: 280px;
			font-weight: 500;
			color: rgba($color-theme-light, .07);
			position: absolute;
			right: 10px;
			bottom: -46px;
			line-height: .7;
			z-index: -1;
		}

		.image-area {
			display: block;
			width: 100%;
			height: 464px;
			position: relative;
			z-index: 1;

			&:after, &:before {
				transition: all .6s ease-in-out;
			}

			&:after {
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				left: 0;
				top: 0;
				border-radius: $border-radius;
				background-color: rgba($color-second, .5);
				clip-path: polygon(100% 0, 0% 100%, 0 0);
				z-index: 1;
			}

			&:before {
				content: '';
				width: 0;
				height: 0;
				position: absolute;
				right: 0;
				bottom: 0;
				border-radius: $border-radius;
				background-color: rgba($color-theme-light, .5);
				clip-path: polygon(100% 0, 0% 100%, 100% 100%);
				z-index: 1;
			}

			@media #{$lg-device} {
				height: 364px;
			}

			@media #{$sm-device} {
				height: 264px;
			}

			img {
				@include fit();
				border-radius: 14px;
			}
		}
	}

	&-body {
		padding: 24px;
		position: relative;

		time {
			@include font-prop(16px, 400, rgba($dark, .62), 1.4);
			margin-bottom: 4px;

			@media #{$lg-device} {
				font-size: 15px;
			}

			@media #{$sm-device} {
				font-size: 14px;
			}
		}

		h5 a {
			@include font-prop(24px, 600, $dark);
			margin-bottom: 16px;

			@media #{$lg-device} {
				font-size: 20px;
			}

			@media #{$sm-device} {
				font-size: 18px;
			}

			&:hover {
				color: $color-theme-light;
			}
		}

		.interaction-area {

			a {
				font-size: 20px;
				color: $color-theme-light;
				margin-right: 16px;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}

.news-page {
	position: relative;

	&:after {
		content: '';
		border: 400px solid transparent;
		border-top: 400px solid $color-theme;
		border-right: 400px solid $color-theme;
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
	}

	&:before {
		content: '';
		border: 250px solid transparent;
		border-bottom: 250px solid $color-second;
		border-left: 250px solid $color-second;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: -1;
	}

	.author-area {
		display: flex;

		.image-area {
			flex: 0 0 40px;
			height: 40px;
			border-radius: 50%;

			img {
				@include fit();
				border-radius: 50%;
			}
		}

		.info-area {
			flex: 0 0 auto;
			padding-left: 8px;

			.name {
				font-size: .875rem;
				color: $white;
			}

			.date {
				font-size: .75rem;
				color: rgba(203,213,224, .8);
			}
		}
	}

	&-hero {
		margin-bottom: 24px;

		.title-area {
			display: block;
			font-size: 30px;
			font-weight: 600;
			color: $white;
			margin-bottom: 12px;
		}

		figure {
			width: 100%;
			min-height: 384px;
			height: 100%;
			display: flex;
			position: relative;
			padding: 24px;
			z-index: 1;
			margin-bottom: 0;
			border-radius: $border-radius;

			a {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}

			&:after {
				content: '';
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba($dark, .5);
				position: absolute;
				z-index: -1;
				border-radius: $border-radius;
			}

			.image-bg {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				z-index: -1;
				border-radius: $border-radius;
			}

			figcaption {
				margin-top: auto;

				p {
					@include font-prop(2.25rem, 500, $white);
					line-height: 1.25;
					margin-bottom: 4px;

					@media #{$lg-device, $md-device, $sm-device} {
						@include font-prop(1.8rem, 500, $white);
					}

					@media #{$xs-device} {
						@include font-prop(1.4rem, 600, $white);
					}
				}
			}
		}
	}

	&-other {
		figure {
			width: 100%;
			height: 100%;
			margin-bottom: 0;
			position: relative;
			border-radius: $border-radius 0 0 $border-radius;

			@media #{$sm-device} {
				height: 160px;
				border-radius: $border-radius $border-radius 0 0;
			}

			img {
				@include fit();
				position: absolute;
				left: 0;
				top: 0;
				border-radius: $border-radius 0 0 $border-radius;

				@media #{$sm-device} {
					border-radius: $border-radius $border-radius 0 0;
				}
			}
		}

		.content-area {
			background-color: $bg;
			box-shadow: $box-shadow;
			padding: 12px;
			border-radius: 0 $border-radius $border-radius 0;
			position: relative;
			overflow: hidden;

			@media #{$sm-device} {
				border-radius: 0 0 $border-radius $border-radius;
			}

			&:after {
				content: '\f061';
				font-family: $font-awesome;
				font-size: 280px;
				font-weight: 500;
				color: rgba($color-theme-light, .07);
				position: absolute;
				right: 10px;
				bottom: -46px;
				line-height: .7;
				z-index: 1;
			}
			.title {
				display: block;
				@include font-prop(22px, 600, $color-theme-light);
				margin-bottom: 12px;

				@media #{$xs-device} {
					@include font-prop(1.4rem, 600, $color-theme-light);
				}

				&.title-red {
					color: $color-second;

					&:hover {
						color: $color-theme-light;
					}
				}

				&:hover {
					color: $color-second;
				}
			}

			.text-area {
				@include font-prop(15px, 400, $dark);
				margin-bottom: 28px;

				p {
					margin-bottom: 10px;
				}
			}

			.author-area {
				.name {
					color: rgba($dark, .8);
				}

				.date {
					color: rgba($dark, .6);
				}
			}
		}
	}
}

.news-show {
	.image-area {
		width: 100%;
		height: 400px;
		position: relative;

		img {
			@include fit();
			border-radius: $border-radius;
		}

		.flag {
			width: 130px;
			height: 130px;
			position: absolute;
			top: -24px;
			left: -24px;
		}
	}


	.content-area {
		h4 {
			@include font-prop(22px, 800, rgba($dark, .9));
			margin-bottom: 16px;
		}

		p {
			@include font-prop(16px, 500, rgba($dark, .8));
		}

		ul {
			li {
				display: flex;
				margin-bottom: 12px;

				&:last-child {
					margin-bottom: 0;
				}

				span {
					@include font-prop(16px, 600, rgba($dark, .7));
					flex: 0 0 calc(100% - 25px);
					padding-left: 12px;
				}

				i {
					display: flex;
					justify-content: center;
					align-items: center;
					color: $white;
					width: 25px;
					height: 25px;
					background-color: $color-theme-light;
					border-radius: 50%;
				}
			}
		}
		.swiper {
			margin-top: 24px;

			.swiper-wrapper {
				padding-bottom: 40px;
			}

			.image-area {
				width: 100%;
				height: 230px;

				img {
					@include fit();
				}
			}
		}
	}
}