.select-area {
	position: relative;
	width: 100%;
	height: 56px;
	border-radius: 50px;

	&.active {
		.select-title {
			&::before {
				transform: translate(-3px, -50%) rotate(-45deg);
			}

			&::after {
				transform: translate(3px, -50%) rotate(45deg);
			}
		}

		.select-list {
			opacity: 1;
			visibility: visible;

			&-item {
				max-height: 40px;
				border-top-width: 1px;
			}
		}
	}

	.select-title {
		display: flex;
		align-items: center;
		@include font-prop(18px, 500, rgba($dark, .52), 22px);
		padding: 17px 30px;
		border-radius: 50px;
		background-color: $light;
		cursor: pointer;
		position: relative;
		z-index: 1;

		&::before, &::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 28px;
			display: block;
			width: 10px;
			height: 2px;
			transition: $transition;
			background-color: rgba($dark, .54);
			transform: translate(-3px, -50%) rotate(45deg);
		}

		&::after {
			transform: translate(3px, -50%) rotate(-45deg);
		}

		&:hover {
			border-color: $color-second;
			&::before, &::after {
				background-color: $color-second;
			}
		}
	}

	.select-list {
		position: absolute;
		top: 24px;
		padding: 52px 32px 12px 32px;
		left: 0;
		display: flex;
		flex-direction: column;
		width: 100%;
		transition: $transition;
		opacity: 0;
		visibility: hidden;
		background-color: $light;
		border-radius: 0 0 24px 24px;

		&-item {
			display: flex;
			align-items: center;
			width: 100%;
			height: 40px;
			max-height: 0;
			padding: 0 16px;
			transition: $transition;
			cursor: pointer;
			overflow: hidden;
			border-radius: $border-radius;
			margin-bottom: 12px;

			&:last-child {
				margin-bottom: 0;
			}

			&[disabled] {
				color: rgba($dark, .5);
				cursor: default;
				pointer-events: none;
			}

			&.active, &:hover{
				background-color: $color-second !important;
				color: $light;
			}

			span {
				display: block;
				cursor: pointer;
			}
		}
	}
}
